body {
  background: linear-gradient(to bottom, #f9fcff, #eaf3ff);
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #d0d0d0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 220px;
  margin-right: 20px;
}

.firstAidNow {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #e60000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.firstAidNow:hover {
  background-color: honeydew;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  color: #0000ff;
}

.homeWrapper {
  text-align: center;
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
  height: 1200px;
}

.homeLogo {
  width: 150px;
  margin-bottom: 20px;
}

.notice {
  background-color: #fff8dc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
}

.notice p {
  margin: 0;
}

.notice strong {
  color: #e60000;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.firstAid,
.login {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.login {
  background-color: #0000ff;
  color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.login:hover {
  background-color: honeydew;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  color: #0000ff;
}
