body,
#root {
  background: linear-gradient(to bottom, #f9fcff, #eaf3ff);
  margin: 0;
  font-family: Arial, sans-serif;
  height: 1200px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 2px solid #d0d0d0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 100px;
  margin-right: 20px;
}

.menuContainer {
  display: flex;
  align-items: center;
}

.firstAidNow {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #e60000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.firstAidNow:hover {
  background-color: honeydew;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  color: #000fff;
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  margin-left: 10px;
}


.menuItem a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 10px 20px;
  display: block;
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menuItem a:hover {
  color: #e60000;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.notice {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff8dc;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  font-size: 16px;
  color: #333;
}

.notice strong {
  color: #e60000;
  margin: 0;
}

.buttonGroup {
  margin-top: 20px;
}

.buttonGroup button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #ffffff;
  box-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.1),
    -2px -2px 4px rgba(255, 255, 255, 1);
  transition: all 0.3s ease;
}

.buttonGroup button:hover {
  box-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.2),
    -1px -1px 2px rgba(255, 255, 255, 0.8);
}
