.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top:20px;

}

.yes {
  padding: 10px 20px;
  font-size: 16px;
  margin-right:50px;
  
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #000fff;
  color: white;
  opacity: 0.8;
}

.yes:hover {
  background-color: honeydew;
  color: #000fff;
  box-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.2),
    -1px -1px 2px rgba(255, 255, 255, 0.8);
}

.no {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #e60000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.no:hover {
  background-color: honeydew;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  color: #000fff;
}

h1 {
  color: #333;
}
