.container {
  direction: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.yes {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #008080;
  color: white;
}
.no {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #c9302c;
  color: white;
}

h1 {
  color: darkblue;
}
