.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

body {
  background: linear-gradient(to bottom, #f0f8ff, #e0eaff, #d1e2ff, #c2daff);
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.faButton {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #000fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  border-width: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.choking {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  border-width: 10;
}

.call,
.direct {
  flex: 1;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 150px;
}

.call {
  background-color: #e60000;
}

.direct {
  background-color: #000fff;
}

.call:hover {
  background-color: honeydew;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  color: #000fff;
}

.direct:hover {
  background-color: honeydew;
  color: #000fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.aidGroup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 30px;
  column-gap: 20px;
  text-align: center;
}

.aidButton {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #000fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.aidButton:hover {
  background-color: honeydew;
  color: #000fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
